{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<form class="form-signin" method="POST" action="/skills_level">
    <h2 class="form-signin-heading">Please input criteria </h2>
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="col-md-2">
            {{ wtf.form_field(form.user_id) }}
        </div>
        <div class="col-md-2">
            {{ wtf.form_field(form.program) }}
        </div>
        <div class="col-md-2">
            {{ wtf.form_field(form.section) }}
        </div>
        <div class="col-md-2">
            {{ wtf.form_field(form.level) }}
        </div>
        <div class="col-md-2">
            {{ wtf.form_field(form.skill_type) }}
        </div>
        <div class="col-md-2">
            <br/>
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </div>
</form>
{% endblock %}
